.my-vauto{
  margin-top: auto;
  margin-bottom: auto;
}
.navbar-dark > div {
  color: #fff;
}
.text-break {
  word-break: break-all !important;
  word-break: break-word !important;
  overflow-wrap: break-word !important;
}
.navbar {
  padding: .5rem;
}
.navbar .row {
  margin-left: initial !important;
}
