ul.summary-col {
  list-style: none;
  margin-left: 0;
  padding-left: 1.2em;
}
ul.summary-col > li {
  display: inline;
}
ul.summary-col > li:after {
  content: '\A';
  white-space: pre;
}

/*
ul.summary-col > li:before {
  content: "\2022";
  display: block;
  float: left;
  width: 1.2em;
  color: #ff0000;
}

ul.summary-col > li.arrow:before {
  content: "->";
}

ul.summary-col > li.fa:before {
  font-family: "Font Awesome 5 Free";
}

ul.summary-col > li.fa {
  display: inline;
}

ul.summary-col > li.fa:after {
  content: '\A' !important;
  white-space: pre;
}

ul.summary-col > li.fa.fa-home:before {
  content: "\f015";
  font-weight: 900;
}

ul.summary-col > li.fa.fa-id-card:before {
  content: "\f2c2";
}

ul.summary-col > li.fa.fa-clock:before {
  content: "\f017";
}

ul.summary-col > li.fa.fa-long-arrow-right:before {
  content: "\f061"
}
*/
