<template>
  <div id="app">
    <!-- ナビゲーションバーで色々な設定を表示。 -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-fixed-top bg-dark">
      <div class="row w-100">
        <div class="row w-100">
          <a class="navbar-brand" href="#">{{$t('header.title')}}</a>
          <!-- モバイル用の折りたたみボタン -->
          <button class="btn btn-outline-primary navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarRepresentArea"
            aria-controls="navbarRepresentArea" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
          </button>
          <!-- ページタイトルと表示設定 -->
          <div class="collapse navbar-collapse row" id="navbarRepresentArea">
            <LocaleSelector :locale.sync="$root.$i18n.locale" :num_represent.sync="num_represent"/>
          </div>
        </div>
      </div>
    </nav>
    <div class="container row col-12">
      <!-- 右に投票候補のテーブルを表示 -->
      <!-- 左にテーブルのもとになるテキストエリアを表示 -->
      <!-- 上（左）にキャラクターの情報/フォームを表示 -->
      <div class="col-6">
        <table class="table table-border">
          <thead>
            <tr>
              <th>対象ID/対象名</th>
              <th>票数</th>
              <th>行数</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1/裸パッチ</td>
              <td>5000000000000000000000000</td>
              <td><a href="#">→N行</a></td>
            </tr>
            <tr>
              <td>2/#見つかりませんでした#</td>
              <td>5000000000000000000000000</td>
              <td><a href="#">→N行</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-6">
        <div class="card">
          <div class="card-header">{{"バッチ入力フォーム"}}</div>
          <div class="card-body">
            <div class="form-group row">
              <textarea class="form-control no-wrap">
              </textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer navbar navbar-dark bg-dark fixed-bottom" v-if="!in_edit">
        <button class="btn btn-outline-primary" type="button"
          v-on:click="checked_ids=[]" v-if="anyIdChecked">
          {{$t('page.uncheck_all')}}
        </button>
        <button class="btn btn-outline-danger" type="button"
          v-on:click="bulkDelete" v-if="anyIdChecked">
          {{$t('page.delete_checked')}}
        </button>
    </footer>
  <!-- スティッキーフッターでハガキのページネーション？ -->
  </div>
</template>

<style lang="css" scoped>
.container{
  padding-bottom: 60px;
}
textarea.no-wrap{
  white-space   : no-wrap;
  overflow-x    : scroll;
}
</style>

<script>import headerLocale from '@/assets/locales/locale_header.js'
import columnsLocale from '@/assets/locales/locale_columns.js'
import mainLocale from '@/assets/locales/locale_charamod.js'
import merge from 'deepmerge'
//import clone from 'clone'
import numFilter from '@/assets/filters/numberFilter.js'
import charas_api from '@/assets/api/api_charas.js'
import letters_api from '@/assets/api/api_letters.js'
//import axios from 'axios'
import LocaleSelector from '@/components/Headers/LocaleSelector.vue'
import qs from 'qs'
import sharedLocales from '@/assets/locales/locale_misc.js'


export default {
  components: {
    LocaleSelector,
  },
  data () {
    return {
      num_represent: 'kanji',
      input: {
        chara_id  : null,
        name      : '',
        came_from : '',
        result    : null,
        banned    : false,
        remarks   : '',
        recalc    : false,
      },
      input_def: {},
      letter: {
        table: [],
        input: {

        },
        input_def: {},
      },
      result: "",
      api: merge.all([charas_api, letters_api]),
      chara_load  : false,
      letters_load: false,
      now_process : false,
      init_id: 0,
      not_found   : false,
      checked_ids :[],
      in_edit: false
    }
  },
  created () {
    var p = location.search.substr(1)
    console.log(p)
    var obj = qs.parse(p)
    console.log(obj.id)
    this.init_id = parseInt(obj.id)
    if(isNaN(this.init_id)){
      this.not_found = true
    }
  },
  mounted () {
    this.getCharaInfo()
    this.getLettersInfo()
  },
  computed: {
    isApiForbidden: function () {
      return (this.not_found || this.now_process || this.chara_load || this.input.chara_id == null)
    },
    anyIdChecked: function () {
      return this.checked_ids.length > 0
    }
  },
  filters: {
    numberFormat: function(value, method){
      return numFilter(value, method)
    },
  },
  methods: {
    reportToOpener: function () {
      window.opener.postMessage({
        action: 'reLoad',
        message: 'Hello'
      }, '*', );
    },

  },
  i18n: {
    messages: merge.all([headerLocale, columnsLocale, mainLocale]),
    sharedMessages: sharedLocales
  }
}
</script>
