<template>
  <div id="app">
    <!-- ナビゲーションバーで色々な設定を表示。 -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-fixed-top bg-dark">
      <div class="row w-100">
        <div class="row w-100">
          <a class="navbar-brand" href="/">{{$t('header.title')}}</a>
          <!-- モバイル用の折りたたみボタン -->
          <button class="btn btn-outline-primary navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarRepresentArea"
            aria-controls="navbarRepresentArea" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
          </button>
          <button class="btn btn-outline-primary navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarSearchArea"
            aria-controls="navbarSearchArea" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fa fa-search"></i>
          </button>
          <!-- ページタイトルと表示設定 -->
          <div class="collapse navbar-collapse row" id="navbarRepresentArea">
            <LocaleSelector :locale.sync="$root.$i18n.locale" :num_represent.sync="num_represent"/>
          </div>
        </div>
        <!-- 検索フォーム -->
        <div class="row w-100">
          <div class="collapse navbar-collapse" id="navbarSearchArea">
            <SimpleSearchForm
              v-bind:keyword.sync="input.search_key" v-bind:column.sync="input.search_col"
              v-bind:reject_subspace.sync="input.reject_subspace"
              :select-columns="form.search_col" :charas-option="false"
              v-on:go_search="getLettersInfo"/>
          </div>
        </div>
      </div>
    </nav>
    <div class="container row col-12">
      <!-- テーブル自体はハガキ一覧とで共有するやつなのでモジュール化 -->
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            {{$t('page.letter_title')}}<br>
          </div>
          <div class="card-body">
            <LetterTable :num_represent="num_represent"
              :letters_table="letter.table" v-on:edit_letter="showLetterModal($event)"
              v-bind:checked_list.sync="checked_ids"
              :name_index="chara_names"/>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer navbar navbar-dark bg-dark fixed-bottom" v-if="!in_edit">
        <button class="btn btn-outline-primary" type="button"
          v-on:click="checked_ids=[]" v-if="anyIdChecked">
          {{$t('page.uncheck_all')}}
        </button>
        <button class="btn btn-outline-danger" type="button"
          v-on:click="bulkDelete" v-if="anyIdChecked">
          {{$t('page.delete_checked')}}
        </button>
    </footer>
  <!-- スティッキーフッターでハガキのページネーション？ -->
  </div>
</template>

<style lang="css" scoped>
.container{
  padding-bottom: 60px;
}
</style>

<script>import headerLocale from '@/assets/locales/locale_header.js'
import columnsLocale from '@/assets/locales/locale_columns.js'
import mainLocale from '@/assets/locales/locale_charamod.js'
import merge from 'deepmerge'
//import clone from 'clone'
import numFilter from '@/assets/filters/numberFilter.js'
import charas_api from '@/assets/api/api_charas.js'
import letters_api from '@/assets/api/api_letters.js'
import axios from 'axios'
import LetterInputForm from '@/components/Inputs/LetterInputFormClosed.vue'
import LocaleSelector from '@/components/Headers/LocaleSelector.vue'
import SimpleSearchForm from '@/components/Headers/SimpleSearchForm.vue'
import LetterTable from '@/components/Tables/LetterTable.vue'
import qs from 'qs'
import sharedLocales from '@/assets/locales/locale_misc.js'


export default {
  components: {
    LocaleSelector,
    LetterTable,
    SimpleSearchForm
  },
  data () {
    return {
      form: {
        search_col: [
          {
            localePath: 'columns.letters.voter_name',
            col: 'voter_name'
          },
          {
            localePath: 'columns.letters.voter_address',
            col: 'voter_address'
          },
          {
            localePath: 'columns.letters.remarks',
            col: 'remarks'
          },
        ],
      },
      num_represent: 'kanji',
      input: {
        search_col: 'voter_name',
        search_key: '',
        reject_subspace: false
      },
      chara_names: {},
      letter: {
        table: []
      },
      api: merge.all([charas_api, letters_api]),
      chara_load  : false,
      letters_load: false,
      now_process : false,
      not_found   : false,
      checked_ids :[],
      in_edit: false
    }
  },
  created () {
  },
  mounted () {
    this.getCharasName()
    this.getLettersInfo()
    var self = this
    window.addEventListener('message', function (e) {
      switch(e.data.action) {
        case 'reLoad':
          self.getCharasName()
          self.getLettersInfo()
      }
    })
  },
  computed: {
    isApiForbidden: function () {
      return (this.not_found || this.now_process || this.chara_load)
    },
    anyIdChecked: function () {
      return this.checked_ids.length > 0
    }
  },
  filters: {
    numberFormat: function(value, method){
      return numFilter(value, method)
    },
  },
  methods: {
    getLettersInfo: function () {
      if(this.letter_load){
        return
      }

      this.letter_load = true
      var path = this.api.letters.list()
      var self = this

      axios.get(path, {
        params: this.input
      })
      .then(function (response) {
        console.log(response.data)
        let dat = response.data
        self.letter.table = dat
      })
      .catch(function (error){
        console.log(error)
        self.not_found = true
      })
      .finally(() => self.letter_load = false)
    },
    showLetterModal: function (letter) {
      let id = letter.letter_id
      let cid = letter.chara_id
      console.log(id)
      var self = this
      this.$modal.show(
        LetterInputForm,
        {
          letter_id: id,
          chara_id: self.init_id,
          chara_name: self.chara_names[cid]
        },
        {
          height: 'auto',
          width: '80%',
          scrollable: true,
          draggable: ".card-header"
        },
        {
          'before-open': function(){
            self.in_edit = true
          },
          'before-close': function(event){
            self.getLettersInfo()
            console.log(event)
            self.in_edit = false
          }
        }
      )
    },
    getCharasName: function () {
      //キャラクター情報を取得し、テーブルに突っ込む。
      //突っ込んだ後、ランキングを算出する。同着以後はその数だけスキップ
      console.log(this.input)
      if(this.chara_load){
        //console.log("wait a moment...")
        return
      }
      var path = this.api.charas.list()
      var self = this

      self.chara_load = true

      axios.get(path, {})
      .then(function (response) {
        //console.log(response.data)
        let dat = response.data
        if(dat == null || dat == ''){
          self.not_found = true
          return
        }
        self.chara_names = {}
        for(var i = 0; i < dat.length; i++){
          self.chara_names[dat[i].chara_id] = dat[i].name
        }
        //console.log(self.chara_names)
      })
      .catch(function (error){
        console.log(error)
        self.not_found = true
      })
      .finally(() => self.chara_load = false)

    },
    bulkDelete: function(){
      console.log(this.checked_ids)
      var self = this
      var path = this.api.letters.bulkDelete()
      if(this.isApiForbidden){
        return
      }
      if(!confirm(self.$t('popup.beforeDelete'))){
        return
      }
      this.now_process = true
      var params = qs.stringify(
        {'letter_ids': this.checked_ids},
        {arrayFormat: 'repeat'}
      )
      console.log(params)
      axios({
        method: 'DELETE',
        url: path,
        data: params,
        headers: {'Content-Type': 'application/x-www-form-urlencoded'}
      })
      .then(function(response){
        alert(self.$t('popup.success'))
        console.log(response)
        self.checked_ids = []
        self.getLettersInfo()
      })
      .catch(function(error){
        alert(self.$t('popup.error'))
        console.log(error)
      })
      .finally(() => self.now_process = false)
    }
  },
  i18n: {
    messages: merge.all([headerLocale, columnsLocale, mainLocale]),
    sharedMessages: sharedLocales
  }
}
</script>
