<div id="app">
  <!-- ナビゲーションバーで色々な設定を表示。 -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-fixed-top bg-dark">
    <div class="row w-100">
      <div class="row w-100">
        <a class="navbar-brand" href="vote-letters.html">{{$t('header.title')}}</a>
        <!-- モバイル用の折りたたみボタン -->
        <button class="btn btn-outline-primary navbar-toggler" type="button"
          data-toggle="collapse" data-target="#navbarRepresentArea"
          aria-controls="navbarRepresentArea" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
        </button>
        <button class="btn btn-outline-primary navbar-toggler" type="button"
          data-toggle="collapse" data-target="#navbarSearchArea"
          aria-controls="navbarSearchArea" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fa fa-search"></i>
        </button>
        <!-- ページタイトルと表示設定 -->
        <div class="collapse navbar-collapse row" id="navbarRepresentArea">
          <LocaleSelector :locale.sync="$root.$i18n.locale" :num_represent.sync="num_represent"/>
        </div>
      </div>
      <!-- 検索フォーム -->
      <div class="row w-100">
        <div class="collapse navbar-collapse" id="navbarSearchArea">
          <SimpleSearchForm
            v-bind:keyword.sync="input.search_key" v-bind:column.sync="input.search_col"
            v-bind:reject_subspace.sync="input.reject_subspace"
            :select-columns="form.search_col" :charas-option="true"
            v-on:go_search="getCharasInfo"/>
        </div>
      </div>
    </div>
  </nav>
  <!-- キャラテーブルを表示 -->
  <!--
  <input type="text" v-model="foo">
  <span>{{foo.length}}桁</span>
  <span>{{foo| numberFormat(num_represent)}}</span>
  -->
  <div class="container">
    <div class="card">
      <div class="card-header">
        {{$t('page.summary')}}
      </div>
      <div class="card-body text-break">
        <label>
          {{$t('page.auto_reload')}}:
          <input type="checkbox" :checked="auto_reload" 
            v-on:change="auto_reload = $event.target.checked"/>
        </label>
        <br>
        {{$t('page.num_of_charas')}}: {{table.length}}<br>
        {{$t('page.total_votes')}}: {{total_votes | numberFormat(num_represent)}} {{$t('page.unit')}}
      </div>
      <div class="card-footer">
        <button class="btn btn-primary" v-on:click="showNewUser">
          <i class="fa fa-plus"></i>
          {{$t('page.add_character')}}
        </button>
      </div>
    </div>
    <!-- 簡易版テーブル -->
    <div class="d-block d-md-none">
      <table class="table table-border">
        <thead>
          <tr class="d-flex">
            <th scope="col" class="col-7">概要</th>
            <th scope="col" class="col-5">{{$t('columns.charas.result')}}</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="chara in table" :class="chara.banned ? 'bg-warning':''" class="d-flex">
            <td scope="col" class="col-7">
              <div class="row w-100">
                <div class="col-6 font-weight-bold">{{$t('columns.charas.rank')}}</div>
                <div class="col-6">
                  <input type="checkbox" class=""
                    v-bind:checked="ifChecked(chara.chara_id)"
                    v-on:change="toggleCheck(chara.chara_id, $event.target.checked)">
                  {{rank[chara.chara_id]}}
                </div>
              </div>
              <div class="row w-100">
                <div class="col-6 font-weight-bold">{{$t('columns.charas.name')}}</div>
                <div class="col-6">
                  <a :href="getCharaLink(chara.chara_id)" target="_new" data-toggle="tooltip" data-placement="top" :title="chara.remarks">{{chara.name}}</a>
                </div>
              </div>
              <div class="row w-100">
                <div class="col-6 font-weight-bold">{{$t('columns.charas.came_from')}}</div>
                <div class="col-6">{{chara.came_from}}</div>
              </div>
            </td>
            <td scope="col" class="col-5 text-break">
              {{chara.result | numberFormat(num_represent)}} {{$t('page.unit')}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- 丁寧版テーブル -->
    <div class=" d-none d-md-block ">
      <table class="table">
        <thead>
          <tr class="d-flex">
            <th scope="col" class="col-2">{{$t('columns.charas.rank')}}</th>
            <th scope="col" class="col">{{$t('columns.charas.name')}}</th>
            <th scope="col" class="col">{{$t('columns.charas.came_from')}}</th>
            <th scope="col" class="col-4">{{$t('columns.charas.result')}}</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="chara in table" class="d-flex" :class="chara.banned ? 'bg-warning':''">
            <th scope="col" class="col-2">
              <input type="checkbox" class=""
                v-bind:checked="ifChecked(chara.chara_id)"
                v-on:change="toggleCheck(chara.chara_id, $event.target.checked)">
              {{rank[chara.chara_id]}}
            </th>
            <td scope="col" class="col">
              <a :href="getCharaLink(chara.chara_id)" target="_new" data-toggle="tooltip" data-placement="top" :title="chara.remarks">
                {{chara.name | spaceOnEmpty}}
              </a>
            </td>
            <td scope="col" class="col">{{chara.came_from}}</td>
            <td scope="col" class="col-4 text-break">{{chara.result | numberFormat(num_represent)}} {{$t('page.unit')}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <footer class="footer navbar navbar-dark bg-dark fixed-bottom" v-if="!in_edit">
    <div class="row">
      <div class="col-12" v-if="anyIdChecked">
        <button class="btn btn-primary" type="button"
          v-on:click="friendship" v-if="anyIdChecked">
          {{$t('page.friendship')}}
        </button>
      </div>
      <div class="col-12" v-if="anyIdChecked">
        <button class="btn btn-outline-primary" type="button"
          v-on:click="checked_ids=[]">
          {{$t('page.uncheck_all')}}
        </button>
        <button class="btn btn-outline-primary" type="button"
          v-on:click="putIntoSubspace(true)">
          {{$t('page.bulk_subspace')}}
        </button>
        <button class="btn btn-outline-primary" type="button"
          v-on:click="putIntoSubspace(false)">
          {{$t('page.bulk_inspace')}}
        </button>
        <button class="btn btn-outline-danger" type="button"
          v-on:click="deleteChecked">
          {{$t('page.bulk_delete')}}
        </button>
      </div>
    </div>
  </footer>
</div>
