<template src="./template.html">

</template>

<style lang="css">
.container{
  padding-bottom: 240px;
}
</style>

<script>

import headerLocale from '@/assets/locales/locale_header.js'
import columnsLocale from '@/assets/locales/locale_columns.js'
import mainLocale from '@/assets/locales/locale_chararank.js'
import merge from 'deepmerge'
import clone from 'clone'
import numFilter from '@/assets/filters/numberFilter.js'
import bigInt from 'big-integer'
import api from '@/assets/api/api_charas.js'
import axios from 'axios'
import CharacterModal from '@/components/Modals/CharacterModal.vue'
import SimpleSearchForm from '@/components/Headers/SimpleSearchForm.vue'
import LocaleSelector from '@/components/Headers/LocaleSelector.vue'
import FriendshipPower from '@/components/Modals/FriendshipPower.vue'
import sharedLocales from '@/assets/locales/locale_misc.js'
import qs from 'qs'


export default {
  components: {
    CharacterModal,
    SimpleSearchForm,
    LocaleSelector
  },
  data () {
    return {
      foo: '0',
      form: {
        search_col: [
          {
            localePath: 'columns.charas.name',
            col: 'name'
          },
          {
            localePath: 'columns.charas.came_from',
            col: 'came_from'
          }
        ],
        num_represent: [],
        locales: [
          'ja', 'en'
        ]
      },
      num_represent: 'kanji',
      input: {
        search_col: 'name',
        search_key: '',
        reject_subspace: false
      },
      input_def: {},
      table: [],
      rank: {},
      api: api,
      now_load: null,
      checked_ids: [],
      in_edit: false,
      now_process: false,
      auto_reload: false
    }
  },
  created () {
    this.input_def = clone(this.input)
  },
  mounted () {
    this.getCharasInfo()
    var self = this
    window.addEventListener('message', function (e) {
      switch(e.data.action) {
        case 'reLoad':
          self.getCharasInfo()
      }
    })
    setInterval(function(){
      console.log("auto-reload: " + self.auto_reload)
      if(self.auto_reload){
        self.getCharasInfo()
      }
    }, 5000)
  },
  computed: {
    total_votes () {
      //console.log("total votes")
      let total = bigInt("0")
      for(let i = 0; i < this.table.length; i++){
        //console.log(this.table[i])
        let tmp = bigInt(this.table[i].result)
        //console.log(tmp)
        total = total.plus(tmp)
      }
      //console.log(total)
      return total.toString(10)
    },
    anyIdChecked: function () {
      return this.checked_ids.length > 0
    },
    isApiForbidden: function () {
      return (this.now_load != null || this.now_process)
    },
  },
  filters: {
    numberFormat: function(value, method){
      return numFilter(value, method)
    },
    spaceOnEmpty: function(value){
      if(value == null || value == undefined || value.trim() == ''){
        return '(空白)'
      }
      return value
    }
  },
  methods: {
    showNewUser: function() {
      var self = this
      this.$modal.show(
        CharacterModal,
        {
        },
        {
          height: 'auto',
          width: '80%',
          scrollable: true,
          draggable: '.card-header'
        },
        {
          'before-close': function(event){
            if(event.params){
              self.getCharasInfo()
            }
          }
        }
      )
    },
    getCharaLink: function (id) {
      return "/character-modify.html?id=" + id
    },
    getCharasInfo: function () {
      //キャラクター情報を取得し、テーブルに突っ込む。
      //突っ込んだ後、ランキングを算出する。同着以後はその数だけスキップ
      //console.log(this.input)
      if(this.now_load != null){
        //console.log("wait a moment...")
        return
      }
      var path = api.charas.list()
      var self = this
      this.now_load = axios.get(path, {
        params: this.input
      })
      .then(function (response) {
        self.table = response.data
        let holdRank = 0  //同着順位は同じにしておき、次以降を元の順位に戻す処置
        let tmpPrev = null
        self.rank = {}
        for(let i = 0; i < self.table.length; i++){
          let currNum = bigInt(self.table[i].result)
          if(tmpPrev != null){
            if(currNum.eq(tmpPrev)){
              holdRank ++
            }
            else{
              holdRank = 0
            }
          }
          tmpPrev = currNum
          console.log(self.table[i])
          console.log("-> "+(i + 1 - holdRank))
          self.rank[self.table[i].chara_id] = (i + 1 - holdRank)
        }
      })
      .finally(() => self.now_load = null)
    },
    toggleCheck(id, bool){
      let tmpArray = this.checked_ids
      if(bool){
        if(tmpArray.indexOf(id) < 0){
          tmpArray.push(id)
        }
      }
      else{
        this.checked_ids = tmpArray.filter(n => n !== id)
      }
      console.log(tmpArray)
    },
    ifChecked(id){
      //console.log(this.checked_list)
      return this.checked_ids.indexOf(id) >= 0
    },
    putIntoSubspace: function (arg) {
      console.log(arg)
      var self = this
      var path = this.api.charas.bulkSubspace()
      if(this.isApiForbidden){
        return
      }
      this.now_process = true
      var params = qs.stringify(
        {'chara_ids': this.checked_ids, 'subspace':arg},
        {arrayFormat: 'repeat'}
      )
      console.log(params)
      axios({
        method: 'PUT',
        url: path,
        data: params,
        headers: {'Content-Type': 'application/x-www-form-urlencoded'}
      })
      .then(function(response){
        alert(self.$t('popup.success'))
        console.log(response)
        self.getCharasInfo()
      })
      .catch(function(error){
        alert(self.$t('popup.error'))
        console.log(error)
      })
      .finally(() => self.now_process = false)
    },
    deleteChecked: function () {
      var self = this
      var path = this.api.charas.bulkDelete()
      if(this.isApiForbidden){
        return
      }
      if(!confirm(self.$t('popup.beforeDelete'))){
        return
      }
      this.now_process = true
      var params = qs.stringify(
        {'chara_ids': this.checked_ids},
        {arrayFormat: 'repeat'}
      )
      console.log(params)
      axios({
        method: 'DELETE',
        url: path,
        data: params,
        headers: {'Content-Type': 'application/x-www-form-urlencoded'}
      })
      .then(function(response){
        alert(self.$t('popup.success'))
        console.log(response)
        self.checked_ids = []
        self.getCharasInfo()
      })
      .catch(function(error){
        alert(self.$t('popup.error'))
        console.log(error)
      })
      .finally(() => self.now_process = false)
    },
    friendship: function () {
      var self = this
      var charas = []
      for(var i = 0; i < this.table.length; i++){
        if(this.checked_ids.includes(this.table[i].chara_id)){
          charas.push(this.table[i])
        }
      }
      this.$modal.show(
        FriendshipPower,
        {
          charas: charas
        },
        {
          height: 'auto',
          width: '80%',
          scrollable: true,
          draggable: '.card-header'
        },
        {
          'before-close': function(event){
            if(event.params){
              self.getCharasInfo()
            }
          }
        }
      )
    }
  },
  i18n: {
    messages: merge.all([headerLocale, columnsLocale, mainLocale]),
    sharedMessages: sharedLocales
  }
}
</script>
