<template>
  <div class="row w-100">
    <div class="form-group col-md-6 col-sm-12 row">
      <!-- ロケール設定 -->
      <label class="text-nowrap col-sm-3 col-xs-12 col-form-label">
        {{$t('header.represent.language.name')}}
      </label>
      <div class="col-sm-9 col-xs-12">
        <select class="form-control"
          v-bind:value="locale" v-on:change="$emit('update:locale', $event.target.value)">
          <option v-for="lang in locales" v-bind:value="lang" v-bind:key="lang">
            {{$t('header.represent.language.val.'+lang)}}
          </option>
        </select>
      </div>
    </div>
    <div class="form-group col-md-6 col-sm-12 row">
      <!-- 命数法ないしは区切りによる表現 -->
      <label class="text-nowrap col-sm-3 col-xs-12 col-form-label">
        {{$t('header.represent.separation.name')}}
      </label>
      <div class="col-sm-9 col-xs-12">
        <select class="form-control"
          v-bind:value="num_represent" v-on:change="$emit('update:num_represent', $event.target.value)">
          <option v-for="val in num_represent_list" v-bind:value="val" v-bind:key="val">
            {{$t('header.represent.separation.val.'+val)}}
          </option>
        </select>
      </div>
    </div>
  </div>
</template>
<script>
import headerLocale from '@/assets/locales/locale_header.js'
import merge from 'deepmerge'

export default {
  name: 'LocaleSelector',
  props:{
    locales: {
      type: Array,
      default: function () { return ['ja', 'en'] }
    },
    locale: {
      type: String
    },
    num_represent: {
      type: String,
    },
    num_represent_list: {
      type: Array,
      default: function () { return [
        'kanji', 'sscale', 'comma', 'dot', 'space', 'quot', 'raw'
      ] }
    }
  },
  created () {

  },
  mounted () {

  },
  data () {
    return {
    }
  },
  methods: {

  },
  i18n: {
    messages: merge.all([headerLocale])
  }
}
</script>
<style>
.text-break {
  word-break: break-all !important;
  word-break: break-word !important;
  overflow-wrap: break-word !important;
}
</style>
