<template>
  <div class="row w-100">
    <div class="form-group col-md-6 col-sm-12">
      <div class="input-group" id="input4Search">
        <!-- キーワード入力 -->
        <input type="text" class="form-control"
          :placeholder="$t('header.search.keyword')"
          :value="keyword" @input="$emit('update:keyword', $event.target.value)">
        <!-- カラム選択 -->
        <div class="input-group-append dropdown">
          <!-- どのカラム選んだか。 -->
          <button class="btn btn-outline-secondary dropdown-toggle" type="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{$t(columnMap[column])}}
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#"
              v-for="val in selectColumns" v-on:click="setSearchCol(val.col)" :key="val.col">
              {{$t(val.localePath)}}
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- 亜空間票が含まれるかどうか -->
    <div class="form-group col-md-4 col-sm-9 col-xs-12 my-vauto" v-if="charasOption">
      <input type="checkbox" class="" id="#input4Subspace"
        :checked="reject_subspace" v-on:change="$emit('update:reject_subspace', $event.target.checked)">
      <label class="" for="#input4Subspace">
        {{$t('header.search.subspace')}}
      </label>
    </div>
    <!-- 検索ボタン -->
    <div class="form-group col-md-2 col-sm-3 col-xs-12">
      <button class="btn btn-primary" v-on:click="$emit('go_search')">
        <i class="fa fa-search"></i>
        {{$t('header.search.go')}}
      </button>
    </div>
  </div>
</template>
<script>
import headerLocale from '@/assets/locales/locale_header.js'
import columnsLocale from '@/assets/locales/locale_columns.js'
import merge from 'deepmerge'

export default {
  name: 'SimpleSearchForm',
  props:{
    charasOption: {
      type: Boolean,
      default: true
    },
    selectColumns: {
      type: Array,
      default: function () {
        return [
          {
            localePath: 'sample1',
            col: 'sample1'
          },
          {
            localePath: 'sample2',
            col: 'sample2'
          }
        ]
      }
    },
    keyword: {
      type: String,
      default: ''
    },
    column: {
      type: String,
      default: ''
    },
    reject_subspace: {
      type: Boolean,
      default: true
    }
  },
  created () {
    console.log(this.selectColumns)
    for(let i = 0; i < this.selectColumns.length; i++){
      this.columnMap[this.selectColumns[i].col] = this.selectColumns[i].localePath
      if(this.defCol == null){
        this.defCol = this.selectColumns[i].col
      }
    }
    if(this.defCol == null){
      this.defCol = ""
    }
    console.log(this.columnMap)
  },
  mounted () {

    //this.$BSN.initCallback()
  },
  data () {
    return {
      columnMap: {},
      defCol: this.column
    }
  },
  methods: {
    setSearchCol: function(val) {
      if(this.columnMap[val] == undefined){
        val = this.defCol
      }
      this.$emit('update:column', val)
    }
  },
  i18n: {
    messages: merge.all([headerLocale, columnsLocale])
  }
}
</script>
<style>
.text-break {
  word-break: break-all !important;
  word-break: break-word !important;
  overflow-wrap: break-word !important;
}
</style>
