<template>
  <div id="app">
    <!-- ナビゲーションバーで色々な設定を表示。 -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-fixed-top bg-dark">
      <div class="row w-100">
        <div class="row w-100">
          <a class="navbar-brand" href="#">{{$t('header.title')}}</a>
          <!-- モバイル用の折りたたみボタン -->
          <button class="btn btn-outline-primary navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarRepresentArea"
            aria-controls="navbarRepresentArea" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
          </button>
          <!-- ページタイトルと表示設定 -->
          <div class="collapse navbar-collapse row" id="navbarRepresentArea">
            <LocaleSelector :locale.sync="$root.$i18n.locale" :num_represent.sync="num_represent"/>
          </div>
        </div>
      </div>
    </nav>
    <div class="container row col-12" v-if="!not_found">
      <!-- 上（左）にキャラクターの情報/フォームを表示 -->
      <div class="col-xl-4 col-lg-12">
        <CharacterInputForm :model.sync="input" :show_recalc="true"
          :in_edit="true" v-on:confirm_character="putCharacter"/>
      </div>
      <!-- 下（右）にキャラクターに投票されたはがきを表示 -->
      <!-- テーブル自体はハガキ一覧とで共有するやつなのでモジュール化 -->
      <div class="col-xl-8 col-lg-12">
        <div class="card">
          <div class="card-header">
            {{$t('page.letter_title')}}<br>
            {{$t('page.current_total')}}: {{result | numberFormat(num_represent)}} {{$t('page.unit')}}
            <button class="float-right btn btn-primary" v-on:click="showLetterModal(null)">
              <i class="fa fa-plus"></i>
              {{$t('page.post_letter')}}
            </button>
          </div>
          <div class="card-body">
            <LetterTable :num_represent="num_represent"
              :letters_table="letter.table" v-on:edit_letter="showLetterModal($event)"
              v-bind:checked_list.sync="checked_ids"/>
          </div>
        </div>
      </div>
    </div>
    <div class="" v-if="not_found">
      {{$t('page.not_found')}}({{init_id}})
    </div>
    <footer class="footer navbar navbar-dark bg-dark fixed-bottom" v-if="!in_edit">
        <button class="btn btn-outline-primary" type="button"
          v-on:click="checked_ids=[]" v-if="anyIdChecked">
          {{$t('page.uncheck_all')}}
        </button>
        <button class="btn btn-outline-danger" type="button"
          v-on:click="bulkDelete" v-if="anyIdChecked">
          {{$t('page.delete_checked')}}
        </button>
    </footer>
  <!-- スティッキーフッターでハガキのページネーション？ -->
  </div>
</template>

<style lang="css" scoped>
.container{
  padding-bottom: 60px;
}
</style>

<script>import headerLocale from '@/assets/locales/locale_header.js'
import columnsLocale from '@/assets/locales/locale_columns.js'
import mainLocale from '@/assets/locales/locale_charamod.js'
import merge from 'deepmerge'
import clone from 'clone'
import numFilter from '@/assets/filters/numberFilter.js'
import charas_api from '@/assets/api/api_charas.js'
import letters_api from '@/assets/api/api_letters.js'
import axios from 'axios'
import CharacterInputForm from '@/components/Inputs/CharacterInputForm.vue'
import LetterInputForm from '@/components/Inputs/LetterInputFormClosed.vue'
import LocaleSelector from '@/components/Headers/LocaleSelector.vue'
import LetterTable from '@/components/Tables/LetterTable.vue'
import qs from 'qs'
import sharedLocales from '@/assets/locales/locale_misc.js'


export default {
  components: {
    CharacterInputForm,
    //LetterInputForm,
    LocaleSelector,
    LetterTable
  },
  data () {
    return {
      num_represent: 'kanji',
      input: {
        chara_id  : null,
        name      : '',
        came_from : '',
        result    : null,
        banned    : false,
        remarks   : '',
        recalc    : false,
      },
      input_def: {},
      letter: {
        table: [],
        input: {

        },
        input_def: {},
      },
      result: "",
      api: merge.all([charas_api, letters_api]),
      chara_load  : false,
      letters_load: false,
      now_process : false,
      init_id: 0,
      not_found   : false,
      checked_ids :[],
      in_edit: false
    }
  },
  created () {
    var p = location.search.substr(1)
    console.log(p)
    var obj = qs.parse(p)
    console.log(obj.id)
    this.init_id = parseInt(obj.id)
    if(isNaN(this.init_id)){
      this.not_found = true
    }
  },
  mounted () {
    this.getCharaInfo()
    this.getLettersInfo()
  },
  computed: {
    isApiForbidden: function () {
      return (this.not_found || this.now_process || this.chara_load || this.input.chara_id == null)
    },
    anyIdChecked: function () {
      return this.checked_ids.length > 0
    }
  },
  filters: {
    numberFormat: function(value, method){
      return numFilter(value, method)
    },
  },
  methods: {
    getLettersInfo: function () {
      if(this.letter_load){
        return
      }

      this.letter_load = true
      var path = this.api.charas.letters(this.init_id)
      var self = this

      axios.get(path, {})
      .then(function (response) {
        console.log(response.data)
        let dat = response.data
        self.letter.table = dat
      })
      .catch(function (error){
        console.log(error)
        self.not_found = true
      })
      .finally(() => self.letter_load = false)
    },
    showLetterModal: function (letter) {
      let id = null;
      if(letter != null){
        id = letter.letter_id
      }
      console.log(id)
      var self = this
      this.$modal.show(
        LetterInputForm,
        {
          letter_id: id,
          chara_id: self.init_id,
          chara_name: self.input.name
        },
        {
          height: 'auto',
          width: '80%',
          scrollable: true,
          draggable: ".card-header"
        },
        {
          'before-open': function(){
            self.in_edit = true
          },
          'before-close': function(event){
            self.getCharaInfo()
            self.getLettersInfo()
            console.log(event)
            self.reportToOpener()
            self.in_edit = false
          }
        }
      )
    },
    reportToOpener: function () {
      window.opener.postMessage({
        action: 'reLoad',
        message: 'Hello'
      }, '*', );
    },
    getCharaInfo: function () {
      //キャラクター情報を取得し、テーブルに突っ込む。
      //突っ込んだ後、ランキングを算出する。同着以後はその数だけスキップ
      console.log(this.input)
      if(this.chara_load){
        //console.log("wait a moment...")
        return
      }
      var path = this.api.charas.get(this.init_id)
      var self = this

      self.chara_load = true

      axios.get(path, {})
      .then(function (response) {
        console.log(response.data)
        let dat = response.data
        if(dat == null || dat == ''){
          self.not_found = true
          return
        }
        self.input.name = dat.name
        self.input.remarks = dat.remarks
        self.input.came_from = dat.came_from
        self.input.banned = dat.banned
        if(self.input.chara_id == null){
          self.input.chara_id = self.init_id
          self.input_def = clone(self.input)
        }
        self.result = dat.result
      })
      .catch(function (error){
        console.log(error)
        self.not_found = true
      })
      .finally(() => self.chara_load = false)

    },
    putCharacter: function () {
      console.log('put to ' + this.api.charas.get(this.input.chara_id))
      var self = this
      var path = this.api.charas.get(this.input.chara_id)
      if(this.isApiForbidden){
        return
      }
      this.now_process = true
      axios.put(path, qs.stringify(self.input))
      .then(function(response){
        alert(self.$t('popup.success'))
        console.log(response)
        self.reportToOpener()
      })
      .catch(function(error){
        alert(self.$t('popup.error'))
        console.log(error)
      })
      .finally(() => self.now_process = false)
    },
    bulkDelete: function(){
      console.log(this.checked_ids)
      var self = this
      var path = this.api.letters.bulkDelete()
      if(this.isApiForbidden){
        return
      }
      if(!confirm(self.$t('popup.beforeDelete'))){
        return
      }
      this.now_process = true
      var params = qs.stringify(
        {'letter_ids': this.checked_ids},
        {arrayFormat: 'repeat'}
      )
      console.log(params)
      axios({
        method: 'DELETE',
        url: path,
        data: params,
        headers: {'Content-Type': 'application/x-www-form-urlencoded'}
      })
      .then(function(response){
        alert(self.$t('popup.success'))
        console.log(response)
        self.reportToOpener()
        self.checked_ids = []
        self.getLettersInfo()
        self.getCharaInfo()
      })
      .catch(function(error){
        alert(self.$t('popup.error'))
        console.log(error)
      })
      .finally(() => self.now_process = false)
    }
  },
  i18n: {
    messages: merge.all([headerLocale, columnsLocale, mainLocale]),
    sharedMessages: sharedLocales
  }
}
</script>
