<template>
  <div class="card">
    <div class="card-header">
      {{$t('form_name')}}</div>
    <div class="card-body text-break">
      <!-- 名前 -->
      <div class="row w-100 form-group">
        <label class="col-form-label col-sm-4 col-xs-12">
          {{$t('columns.charas.name')}}
        </label>
        <div class="col-sm-8 col-xs-12">
          <input type="textarea" class="form-control" v-if="in_edit"
            v-bind:value="get('name')" v-on:change="inputStrip('name', $event.target.value.trim())">
          <span v-if="!in_edit">{{model.name}}</span>
        </div>
      </div>
      <!-- 出典 -->
      <div class="row w-100 form-group">
        <label class="col-form-label col-sm-4 col-xs-12">
          {{$t('columns.charas.came_from')}}
        </label>

        <div class="col-sm-8 col-xs-12">
          <input type="textarea" class="form-control" v-if="in_edit"
            v-bind:value="get('came_from')" v-on:change="inputStrip('came_from', $event.target.value)">
          <span v-if="!in_edit">{{model.came_from}}</span>
        </div>
      </div>
      <!-- 備考 -->
      <div class="row w-100 form-group">
        <label class="col-form-label col-sm-4 col-xs-12">
          {{$t('columns.charas.remarks')}}
        </label>

        <div class="col-sm-8 col-xs-12">
          <textarea class="form-control" v-if="in_edit"
            v-bind:value="get('remarks')" v-on:change="inputStrip('remarks', $event.target.value)">
          </textarea>
          <!--
          <input type="textarea" class="form-control" v-if="in_edit"
            v-bind:value="get('remarks')" v-on:change="inputStrip('remarks', $event.target.value)">
          -->
          <span v-if="!in_edit">{{model.remarks}}</span>
        </div>
      </div>
      <!-- 亜空間 -->
      <div class="row w-100 form-group">
        <label class="col-form-label col-sm-4 col-xs-12">
          {{$t('columns.charas.subspace')}}
        </label>

        <div class="col-sm-8 col-xs-12 my-vauto">
          <input type="checkbox" class="" v-if="in_edit"
            v-bind:checked="get('banned')" v-on:change="set('banned', $event.target.checked)">
          <span class="">
            {{$t('yesno.' + (model.banned ? "yes" : "no"))}}
          </span>
        </div>
      </div>
      <!-- 再集計 -->
      <div class="row w-100 form-group" v-if="in_edit & show_recalc">
        <label class="col-form-label col-sm-4 col-xs-12">
          {{$t('columns.charas.recalc')}}
        </label>

        <div class="col-sm-8 col-xs-12 my-vauto">
          <input type="checkbox" class="" v-if="in_edit"
            v-bind:checked="get('recalc')" v-on:change="set('recalc', $event.target.checked)">
          <span class="">
            {{$t('yesno.' + (model.recalc ? "yes" : "no"))}}
          </span>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary" v-on:click="$emit('confirm_character')" v-if="in_edit">
        <i class="fa fa-user-edit"></i>
        {{$t('confirm')}}
      </button>
    </div>
  </div>
</template>
<style lanv="css">

</style>
<script>
import modelProp from '@/modelProp.js'
import columnsLocale from '@/assets/locales/locale_columns.js'
export default {
  name: 'CharacterInputForm',
  props: {
    in_edit: {
      type: Boolean,
      default: true
    },
    show_recalc: {
      type: Boolean,
      default: false
    }
  },
  mixins: [ modelProp ],
  data () {
    return {

    }
  },
  methods: {
    inputStrip: function (name, value){
      this.set(name, value.trim())
    }
  },
  i18n: {
    messages: {
      ja: {
        form_name: 'キャラクター情報',
        yesno: {
          yes: 'ハイ',
          no: 'イイエ'
        },
        confirm: '入力値で確定する'
      },
      en: {
        form_name: 'Character Info',
        yesno: {
          yes: 'Yes',
          no: 'No'
        },
        confirm: 'Confirm'
      }
    },
    sharedMessages: columnsLocale
  }
}
</script>
