<template>
  <div class="card">
    <div class="card-header">
      {{$t('form_name')}}</div>
    <div class="card-body text-break">
      <!-- 投票者 -->
      <div class="row w-100 form-group">
        <label class="col-form-label col-sm-4 col-xs-12">
          {{$t('columns.letters.voter_name')}}
        </label>
        <div class="col-sm-8 col-xs-12">
          <input type="textarea" class="form-control" v-if="in_edit"
            v-bind:value="get('voter_name')" v-on:change="inputStrip('voter_name', $event.target.value.trim())">
          <span v-if="!in_edit">{{model.voter_name}}</span>
        </div>
      </div>
      <!-- 住所 -->
      <div class="row w-100 form-group">
        <label class="col-form-label col-sm-4 col-xs-12">
          {{$t('columns.letters.voter_address')}}
        </label>
        <div class="col-sm-8 col-xs-12">
          <input type="textarea" class="form-control" v-if="in_edit"
            v-bind:value="get('voter_address')" v-on:change="inputStrip('voter_address', $event.target.value.trim())">
          <span v-if="!in_edit">{{model.voter_address}}</span>
        </div>
      </div>
      <!-- キャラ記名 -->
      <div class="row w-100 form-group">
        <label class="col-form-label col-sm-4 col-xs-12">
          {{$t('columns.letters.voted_name')}}
        </label>
        <div class="col-sm-8 col-xs-12">
          <input type="textarea" class="form-control" v-if="in_edit"
            v-bind:value="get('voted_name')" v-on:change="inputStrip('voted_name', $event.target.value.trim())">
          <span v-if="!in_edit">{{model.voted_name}}</span>
        </div>
      </div>
      <!-- バリエーション -->
      <div class="row w-100 form-group">
        <label class="col-form-label col-sm-4 col-xs-12">
          {{$t('columns.letters.chara_variation')}}
        </label>
        <div class="col-sm-8 col-xs-12">
          <input type="textarea" class="form-control" v-if="in_edit"
            v-bind:value="get('chara_variation')" v-on:change="inputStrip('chara_variation', $event.target.value.trim())">
          <span v-if="!in_edit">{{model.chara_variation}}</span>
        </div>
      </div>
      <!-- 投票数/掛け算票かどうかもここで→input-groupで記述。乗っけてからで -->
      <div class="row w-100 form-group">
        <label class="col-form-label col-sm-4 col-xs-12">
          {{$t('columns.letters.voted_num')}}
        </label>
        <div class="col-sm-8 col-xs-12">
          <input type="textarea" class="form-control" v-if="in_edit"
            v-bind:value="get('voted_num')" v-on:change="inputStrip('voted_num', $event.target.value.trim())">
          <span v-if="!in_edit">{{model.voted_num}}</span>
        </div>
      </div>
      <!-- 備考 -->
      <div class="row w-100 form-group">
        <label class="col-form-label col-sm-4 col-xs-12">
          {{$t('columns.letters.remarks')}}
        </label>
        <div class="col-sm-8 col-xs-12">
          <input type="textarea" class="form-control" v-if="in_edit"
            v-bind:value="get('remarks')" v-on:change="inputStrip('remarks', $event.target.value)">
          <span v-if="!in_edit">{{model.remarks}}</span>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary" v-on:click="$emit('confirm_letter')" v-if="in_edit">
        <i class="fa fa-user-edit"></i>
        {{$t('confirm')}}
      </button>
    </div>
  </div>
</template>
<style lanv="css">

</style>
<script>
//IDを渡してもらったら、「たとえ冗長といわれようと」getでハガキ情報（とキャラ名）取って入れる。
//IDがnullだった場合はそのままデフォ値を入れる。（その場合、キャラ名は外から入れる）
//んで、上からもらった情報で投げつける。
//→ひとまず、投稿処理をコンポーネント化した場合、実際の通信部分を毎回書くのは冗長、という感じで。
import modelProp from '@/modelProp.js'
import columnsLocale from '@/assets/locales/locale_columns.js'
export default {
  name: 'LetterInputForm',
  props: {
    in_edit: {
      type: Boolean,
      default: true,
    },
    letter_id: {
      type: Number,
      default: null,
    },
    chara_id: {
      type: Number,
      default: null,
    },
    post_url: {
      type: String,
      default: null
    },
    put_url: {
      type: String,
      default: null
    }
  },
  mixins: [ modelProp ],
  data () {
    return {
    }
  },
  methods: {
    inputStrip: function (name, value){
      this.set(name, value.trim())
    }
  },
  i18n: {
    messages: {
      ja: {
        form_name: '投票ハガキ情報',
        yesno: {
          yes: 'ハイ',
          no: 'イイエ'
        },
        confirm: '入力値で確定する'
      },
      en: {
        form_name: 'Vote Letter Info',
        yesno: {
          yes: 'Yes',
          no: 'No'
        },
        confirm: 'Confirm'
      }
    },
    sharedMessages: columnsLocale
  }
}
</script>
