<template>
  <div class="card">
    <div class="card-header">
      <button class="btn btn-outline-primary" type="button"
        data-toggle="collapse" data-target="#modalRepresentArea"
        aria-controls="modalRepresentArea" aria-expanded="false">
        <i class="fa fa-bars"></i>
      </button>
      {{$t('form_name')}}{{chara_name}}
      <div class="collapse" id="modalRepresentArea">
        <LocaleSelector :locale.sync="$root.$i18n.locale" :num_represent.sync="num_represent"/>
      </div>
    </div>
    <div class="card-body text-break">
      <!-- 投票者 -->
      <div class="row w-100 form-group">
        <label class="col-form-label col-sm-4 col-xs-12">
          {{$t('columns.letters.voter_name')}}
        </label>
        <div class="col-sm-8 col-xs-12">
          <input type="textarea" class="form-control" v-if="in_edit" v-model="input.voter_name">
          <span v-if="!in_edit">{{input.voter_name}}</span>
        </div>
      </div>
      <!-- 住所 -->
      <div class="row w-100 form-group">
        <label class="col-form-label col-sm-4 col-xs-12">
          {{$t('columns.letters.voter_address')}}
        </label>
        <div class="col-sm-8 col-xs-12">
          <input type="textarea" class="form-control" v-if="in_edit" v-model="input.voter_address">
          <span v-if="!in_edit">{{input.voter_address}}</span>
        </div>
      </div>
      <!-- キャラ記名 -->
      <div class="row w-100 form-group">
        <label class="col-form-label col-sm-4 col-xs-12">
          {{$t('columns.letters.voted_name')}}
        </label>
        <div class="col-sm-8 col-xs-12">
          <input type="textarea" class="form-control" v-if="in_edit" v-model="input.voted_name">
          <span v-if="!in_edit">{{input.voted_name}}</span>
        </div>
      </div>
      <!-- バリエーション -->
      <div class="row w-100 form-group">
        <label class="col-form-label col-sm-4 col-xs-12">
          {{$t('columns.letters.chara_variation')}}
        </label>
        <div class="col-sm-8 col-xs-12">
          <input type="textarea" class="form-control" v-if="in_edit" v-model="input.chara_variation">
          <span v-if="!in_edit">{{input.chara_variation}}</span>
        </div>
      </div>
      <div class="row w-100 form-group">
        <label class="col-form-label col-sm-4 col-xs-12">
          {{$t('columns.letters.voted_num')}}
        </label>
        <div class="col-sm-8 col-xs-12">
          <!--
          <input type="textarea" class="form-control" v-if="in_edit" v-model="input.voted_num">
          <span v-if="!in_edit">{{input.voted_num}}</span>
          -->
          <span v-if="input.operation == 1">×</span>{{input.voted_num | numberFormat(num_represent)}}
          <button class="btn btn-default" v-on:click="inputNumber">
            <i class="fa fa-edit"></i>
          </button>
        </div>
      </div>
      <!-- 備考 -->
      <div class="row w-100 form-group">
        <label class="col-form-label col-sm-4 col-xs-12">
          {{$t('columns.letters.remarks')}}
        </label>
        <div class="col-sm-8 col-xs-12">
          <textarea class="form-control" v-if="in_edit" v-model="input.remarks"></textarea>
          <!--
          <input type="textarea" class="form-control" v-if="in_edit" v-model="input.remarks">
        -->
          <span v-if="!in_edit">{{input.remarks}}</span>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary" v-on:click="onConfirm" v-if="in_edit">
        <i class="fa fa-user-edit"></i>
        {{$t('confirm')}}
      </button>
    </div>
  </div>
</template>
<style lanv="css">

</style>
<script>
//IDを渡してもらったら、「たとえ冗長といわれようと」getでハガキ情報（とキャラ名）取って入れる。
//IDがnullだった場合はそのままデフォ値を入れる。（その場合、キャラ名は外から入れる）
//んで、上からもらった情報で投げつける。
//→ひとまず、投稿処理をコンポーネント化した場合、実際の通信部分を毎回書くのは冗長、という感じで。
import modelProp from '@/modelProp.js'
import columnsLocale from '@/assets/locales/locale_columns.js'
import miscLocale from '@/assets/locales/locale_misc.js'
import LocaleSelector from '@/components/Headers/LocaleSelector.vue'
import api from '@/assets/api/api_letters.js'
import clone from 'clone'
import numFilter from '@/assets/filters/numberFilter.js'
import merge from 'deepmerge'
import axios from 'axios'
import qs from 'qs'
import BSN from 'bootstrap.native/dist/bootstrap-native.esm.min.js'

import NumberInputModal from '@/components/Modals/NumberInputModal.vue'

export default {
  components: {
    LocaleSelector,
  },
  name: 'LetterInputForm',
  props: {
    in_edit: {
      type: Boolean,
      default: true,
    },
    letter_id: {
      type: Number,
      default: null,
    },
    chara_id: {
      type: Number,
      default: null,
    },
    chara_name: {
      type: String,
      default: ""
    }
  },
  mixins: [ modelProp ],
  data () {
    return {
      input: {
        voter_name      : "",
        voter_address   : "",
        voted_name      : "",
        chara_variation : "",
        voted_num       : "0",
        operation       : 0,
        remarks         : "",
        chara_id        : null,
      },
      input_def         : {},
      api_url           : "",
      api_method        : "",
      in_load           : false,
      num_represent     : "kanji",
      form_name         : ""
    }
  },
  created () {
    //どちらかというとここよりwatchか何かで見た方がいい？
    this.input_def = clone(this.input)
    this.getLetterInfo(this.letter_id)
    //this.getCharaInfo(this.chara_id)
  },
  mounted () {
    BSN.initCallback()
  },
  filters: {
    numberFormat: function(value, method){
      return numFilter(value, method)
    },
  },
  methods: {
    getLetterInfo: function (letter_id){
      //入力値をデフォルト値に戻す
      this.input = clone(this.input_def)

      //letter_id == null -> POST
      if(letter_id == null){
        this.api_url = api.letters.list()
        this.api_method = "POST"
        this.input.chara_id = this.chara_id
        return
      }

      //letter_id == something -> PUT
      this.api_url = api.letters.get(letter_id)
      this.api_method = "PUT"
      var path = this.api_url
      var self = this

      //値の取得開始
      self.in_load = true
      axios.get(path, {})
      .then(function (response) {
        console.log(response)
        let dat = response.data
        //基本的にlettersエンティティとフォームの名前は同一にしている。
        Object.keys(self.input).forEach(function (key){
          if(key in dat){
            self.input[key] = dat[key]
          }
        })
      })
      .catch(function (error) {
        console.log(error)
      })
      .finally(() => self.in_load = false)
    },
    onConfirm: function (){
      if(this.in_load){
        return
      }
      var self = this
      self.in_load = true
      console.log(self.api_method + ":" + self.api_url)
      console.log(self.input)
      axios({
        method: self.api_method,
        url: self.api_url,
        data: qs.stringify(self.input)
      })
      .then(function (response) {
        console.log(response)
        alert(self.$t('popup.success'))
        self.$emit('close', "test")
      })
      .catch(function (error) {
        console.log(error)
      })
      .finally(function () {
        self.in_load = false
      })
    },
    inputNumber: function () {
      console.log('prepare for modal')
      var self = this
      this.$modal.show(
        NumberInputModal,
        {
          init_value: self.input.voted_num,
          init_num_represent: self.num_represent,
          init_operation: self.input.operation
        },
        {
          height: 'auto',
          width: '80%',
          scrollable: true,
          draggable: ".card-header"
        },
        {
          'before-close': function(event){
            console.log(event)
            let params = event.params
            if(event.params == undefined){
              return;
            }
            if('value' in params){
              self.input.voted_num = params.value
            }
            if('operation' in params){
              self.input.operation = params.operation
            }
          }
        }
      )
    }
  },
  i18n: {
    messages: {
      ja: {
        form_name: '投票対象：',
        yesno: {
          yes: 'ハイ',
          no: 'イイエ'
        },
        confirm: '入力値で確定する'
      },
      en: {
        form_name: 'Vote to ',
        yesno: {
          yes: 'Yes',
          no: 'No'
        },
        confirm: 'Confirm'
      }
    },
    sharedMessages: merge.all([columnsLocale, miscLocale])
  }
}
</script>
