<template>
  <div class="w-100">
    <!-- 簡易版テーブル -->
    <div class="d-block d-md-none">
      <table class="table table-border">
        <thead>
          <tr class="d-flex">
            <th scope="col" class="col">
              {{$t('page.summary_col')}}
            </th>
            <th scope="col" class="col col-sm-3">{{$t('columns.letters.voted_num')}}</th>
            <th scope="col" class="col col-sm-2">{{$t('columns.letters.remarks')}}</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="letter in letters_table" v-bind:key="(letter.letter_id)" class="d-flex">
            <td scope="col" class="col">
              <ul class="summary-col fa-ul">
                <li class="font-weight-bold">
                  <span class="fa-li">
                    <i class="fas fa-check"></i>
                  </span>
                  <input type="checkbox" class=""
                    v-bind:checked="ifChecked(letter.letter_id)"
                    v-on:change="toggleCheck(letter.letter_id, $event.target.checked)">
                  {{letter.letter_id}}
                </li>
                <li>
                  <span class="fa-li">
                    <i class="fas fa-id-card"></i>
                  </span>
                  {{letter.voter_name}}
                </li>
                <li>
                  <span class="fa-li">
                    <i class="fas fa-home"></i>
                  </span>
                  {{letter.voter_address}}
                </li>
                <li>
                  <span class="fa-li">
                    <i class="fas fa-clock"></i>
                  </span>
                  {{letter.voted_date | unixToTime}}
                </li>
                <li>
                  <span class="fa-li">
                    <i class="fas fa-arrow-right"></i>
                  </span>
                  <span v-if="name_index[letter.chara_id] != null">
                    <a :href="getCharaLink(letter.chara_id)" target="_new">
                      &lt;{{name_index[letter.chara_id] | spaceOnEmpty}}&gt;
                    </a>
                    <br>
                  </span>
                  {{letter.voted_name}}<br>
                  <span v-if="letter.chara_variation != ''">
                    ({{letter.chara_variation}})
                  </span>
                </li>
                <button class="btn btn-primary" v-on:click="$emit('edit_letter', letter)">
                  <i class="fa fa-edit"></i>
                </button>
              </ul>
            </td>
            <td scope="col" class="col col-sm-3 text-break">
              {{letter.operation | operationToStr}}{{letter.voted_num | numberFormat(num_represent)}} {{$t('page.unit')}}
            </td>
            <td scope="col" class="col col-sm-2 remarks-col">{{letter.remarks}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- 丁寧版テーブル -->
    <div class="d-none d-md-block">
      <table class="table table-border">
        <thead>
          <tr class="d-flex">
            <th scope="col" class="col-1">{{$t('columns.letters.letter_id')}}</th>
            <th scope="col" class="col">{{$t('columns.letters.voter_name')}}</th>
            <th scope="col" class="col">{{$t('columns.letters.voter_address')}}</th>
            <th scope="col" class="col">{{$t('columns.letters.voted_date')}}</th>
            <th scope="col" class="col">
              <!-- ハガキ一覧ではここにリンクを張る -->
              {{$t('page.column.voted')}}
            </th>
            <th scope="col" class="col-2">{{$t('columns.letters.voted_num')}}</th>
            <th scope="col" class="col">{{$t('columns.letters.remarks')}}</th>
          </tr>
        </thead>
        <tbody>

          <tr v-for="letter in letters_table" v-bind:key="(letter.letter_id)" class="d-flex">
            <th scope="col" class="col-1">
              <input type="checkbox" class=""
                v-bind:checked="ifChecked(letter.letter_id)"
                v-on:change="toggleCheck(letter.letter_id, $event.target.checked)">
              {{letter.letter_id}}<br>
              <button class="btn btn-primary" v-on:click="$emit('edit_letter', letter)">
                <i class="fa fa-edit"></i>
              </button>
            </th>
            <td scope="col" class="col">{{letter.voter_name}}</td>
            <td scope="col" class="col">{{letter.voter_address}}</td>
            <td scope="col" class="col">{{letter.voted_date | unixToTime}}</td>
            <td scope="col" class="col">
              <span v-if="name_index[letter.chara_id] != null">
                <a :href="getCharaLink(letter.chara_id)" target="_new">
                  &lt;{{name_index[letter.chara_id] | spaceOnEmpty}}&gt;
                </a>
                <br>
              </span>
              {{letter.voted_name}}
              <span v-if="letter.chara_variation != ''">
                <br>({{letter.chara_variation}})
              </span>
            </td>
            <td scope="col" class="col-2 text-break">
              {{letter.operation | operationToStr}}{{letter.voted_num | numberFormat(num_represent)}} {{$t('page.unit')}}
            </td>
            <td scope="col" class="col remarks-col">{{letter.remarks}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
<style scoped>
.remarks-col{
  white-space:pre-wrap;
  word-wrap:break-word;
};
</style>
<script>
//どちらかというとこれは完全に表示する用のフォーマットみたいなもんなので、
//これ自体には別に特別大きな仕掛けは不要。
import letterTblLocale from '@/assets/locales/locale_lettertbl.js'
import letterColumnLocale from '@/assets/locales/locale_columns.js'
import numFilter from '@/assets/filters/numberFilter.js'
import unixToTime from '@/assets/filters/unixDateFilter.js'
import '@/assets/styles/ul-summary.css'

import merge from 'deepmerge'
import clone from 'clone'
export default{
  name: 'LetterTable',
  props: {
    num_represent: {
      type: String,
    },
    letters_table: {
      type: Array,
      default: function () { return [] }
    },
    checked_list: {
      type: Array,
      default: function () {return []}
    },
    name_index: {
      type: Object,
      default: function () {return {}}
    }
  },
  filters: {
    spaceOnEmpty: function(value){
      if(value == null || value == undefined || value.trim() == ''){
        return '(空白)'
      }
      return value
    },
    numberFormat: function(value, method){
      return numFilter(value, method)
    },
    operationToStr: function(value) {
      switch(value) {
        case 1:
        return "×"
      }
      return ""
    },
    unixToTime: unixToTime
  },
  computed: {

  },
  methods: {
    getCharaLink: function (id) {
      return "/character-modify.html?id=" + id
    },
    toggleCheck(id, bool){
      let tmpArray = clone(this.checked_list)
      if(bool){
        if(tmpArray.indexOf(id) < 0){
          tmpArray.push(id)
          //console.log(tmpArray)
          this.$emit('update:checked_list', tmpArray)
        }
      }
      else{
        this.$emit('update:checked_list', tmpArray.filter(n => n !== id))
      }
      //console.log(tmpArray)
    },
    ifChecked(id){
      //console.log(this.checked_list)
      return this.checked_list.indexOf(id) >= 0
    }
  },
  watch: {
    /*
    checked_list: function(newVal, oldVal){
      console.log(newVal)
      console.log(oldVal)
    }
    */
  },
  i18n: {
    messages: merge.all([letterTblLocale, letterColumnLocale])
  }
}
</script>
