<template>
  <div class="w-100">
    <div v-if="now_process">
      {{$t('popup.processing')}}
    </div>
    <CharacterInputForm :model.sync="form" :show_recalc="false"
      :in_edit="in_edit" v-on:confirm_character="postCharacter"/>
  </div>
</template>
<style lanv="css">
</style>
<script>
import axios from 'axios'

import CharacterInputForm from '@/components/Inputs/CharacterInputForm.vue'
import api from '@/assets/api/api_charas.js'
import sharedLocales from '@/assets/locales/locale_misc.js'
import qs from 'qs'
export default {
  name: 'CharacterModal',
  components: {
    CharacterInputForm,
  },
  props: {

  },
  data () {
    return {
      form: {
        chara_id  : null,
        name      : '',
        came_from : '',
        result    : null,
        banned    : false,
        remarks   : '',
        recalc    : true,
      },
      in_edit     : true,
      num_represent: 'kanji',
      now_process : false
    }
  },
  methods: {
    postCharacter: function () {
      console.log(api.charas.list())
      var self = this
      if(this.now_process){
        return
      }
      this.now_process = true
      axios.post(api.charas.list(), qs.stringify(self.form))
      .then(function(response){
        alert(self.$t('popup.success'))
        console.log(response)
        self.$emit('close', true)
      })
      .catch(function(error){
        alert(self.$t('popup.error'))
        console.log(error)
      })
      .finally(() => self.now_process = false)
    }
  },
  i18n: {
    messages: {
      ja: {

      }
      ,
      en: {

      }
    },
    sharedMessages: sharedLocales
  }
}
</script>
