<template>
  <div class="card">
    <div class="card-header">
      <button class="btn btn-outline-primary" type="button"
        data-toggle="collapse" data-target="#numModalRepresentArea"
        aria-controls="numModalRepresentArea" aria-expanded="false">
        <i class="fa fa-bars"></i>
      </button>
      {{$t('friendship.title')}}:{{total_votes | numberFormat(num_represent)}} {{$t('page.unit')}}
      <div class="collapse" id="numModalRepresentArea">
        <LocaleSelector :locale.sync="$root.$i18n.locale" :num_represent.sync="num_represent"/>
      </div>
    </div>
    <div class="card-body text-break">
      <div class="row"
        v-for="chara in charas" v-bind:key="(chara.chara_id)">
        <div class="col-4">
          {{chara.name}}
        </div>
        <div class="col-8">
          {{chara.result | numberFormat(num_represent)}}
        </div>
      </div>
    </div>
    <div class="card-footer">

    </div>
  </div>
</template>
<style lanv="css">
</style>
<script>

import LocaleSelector from '@/components/Headers/LocaleSelector.vue'

import sharedLocales from '@/assets/locales/locale_misc.js'
import numFilter from '@/assets/filters/numberFilter.js'

import bigInt from 'big-integer'

import BSN from 'bootstrap.native/dist/bootstrap-native.esm.min.js'

export default {
  components: {
    LocaleSelector,
  },
  name: 'NumberInputModal',
  props: {
    charas: Array
  },
  mounted () {
    BSN.initCallback()
  },
  data () {
    return {
      num_represent: 'kanji'
    }
  },
  filters: {
    numberFormat: function(value, method){
      return numFilter(value, method)
    },
  },
  computed: {
    total_votes () {
      //console.log("total votes")
      let total = bigInt("0")
      for(let i = 0; i < this.charas.length; i++){
        let tmp = bigInt(this.charas[i].result)
        total = total.plus(tmp)
      }
      //console.log(total)
      return total.toString(10)
    },
  },
  methods: {
  },
  i18n: {
    messages: {
      ja: {
        'friendship': {
          'title': '友情票パワー'
        },
        'page': {
          'unit': '票',
        }
      }
      ,
      en: {
        'friendship': {
          'title': 'Friendship-Summation'
        },
        'page': {
          'unit': 'votes',
        }
      }
    },
    sharedMessages: sharedLocales
  }
}
</script>
