<template>
  <div class="card">
    <div class="card-header">
      <button class="btn btn-outline-primary" type="button"
        data-toggle="collapse" data-target="#numModalRepresentArea"
        aria-controls="numModalRepresentArea" aria-expanded="false">
        <i class="fa fa-bars"></i>
      </button>
      {{$t('input_number')}}
      <div class="collapse" id="numModalRepresentArea">
        <LocaleSelector :locale.sync="$root.$i18n.locale" :num_represent.sync="num_represent"/>
      </div>
    </div>
    <div class="card-body text-break">
      <div class="form-group">
        <select class="form-control"
          v-model="operation" v-on:change="parseNumber(inputed)">
          <option value="0">+</option>
          <option value="1">×</option>
        </select>
      </div>
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <textarea-autosize class="form-control"
            v-model="inputed" v-on:input="parseNumber($event)"/>
          <button class="btn btn-default"></button>
        </div>
        <div class="col-sm-6 col-xs-12">
          {{val | numberFormat(num_represent)}}
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary" v-on:click="onConfirm">
        <i class="fa fa-user-edit"></i>
        {{$t('confirm')}}
      </button>
    </div>
  </div>
</template>
<style lanv="css">
</style>
<script>

import LocaleSelector from '@/components/Headers/LocaleSelector.vue'

import sharedLocales from '@/assets/locales/locale_misc.js'
import numFilter from '@/assets/filters/numberFilter.js'
import numParser from '@/assets/filters/numberParser.js'

import BSN from 'bootstrap.native/dist/bootstrap-native.esm.min.js'

export default {
  components: {
    LocaleSelector,
  },
  name: 'NumberInputModal',
  props: {
    init_value: {
      type: String,
      default: '0'
    },
    init_num_represent: {
      type: String,
      default: 'kanji'
    },
    init_operation: {
      type: Number,
      default: 0
    }
  },
  mounted () {
    BSN.initCallback()
    this.val = this.init_value
    this.inputed = this.init_value
    this.num_represent = this.init_num_represent
    this.operation = this.init_operation
  },
  data () {
    return {
      val: '0',
      num_represent: null,
      operation: 0,
      inputed: ''
    }
  },
  filters: {
    numberFormat: function(value, method){
      return numFilter(value, method)
    },
  },
  methods: {
    onConfirm: function () {
      var self = this
      if(self.val == 'NaN'){
        alert(self.$t('check_number'))
        return
      }
      self.$emit('close', {
        value: self.val,
        operation: parseInt(self.operation)
      })
    },
    parseNumber: function (inputed) {
      this.val = numParser(inputed)
      if(this.val == 'NaN'){
        //TODO: 数式の可能性があるので、既存のライブラリをbig-integer仕様に改造する
      }
      if(this.val == '0' && this.operation == 1){
        this.val = 'NaN'
        console.log("0 division error")
      }
    }
  },
  i18n: {
    messages: {
      ja: {
        'input_number': '数値を入力します',
        'confirm'     : '確定する',
        'check_number': '認識できない数字です'
      }
      ,
      en: {
        'input_number': 'Input number as you wish.',
        'confirm'     : 'Confirm',
        'check_number': 'Unparsable Number'
      }
    },
    sharedMessages: sharedLocales
  }
}
</script>
